---
import { ChangeTheme } from "../components/ChangeTheme.jsx";
---

<header
	class="bg-[rgba(0,0,0,0.2)] h-16 flex items-center justify-center fixed w-full top-0 z-10"
>
	<div class="flex justify-between w-full items-center px-4">
		<h1
			class="dark:text-white text-black text-sm md:text-lg fontroboto font-bold"
		>
			Asociación de Taekwon-Do.
		</h1>
		<ChangeTheme client:load />
	</div>
</header>

<script>
	addEventListener("DOMContentLoaded", () => {
		addEventListener("scroll", () => {
			const header = document.querySelector("header");
			if (window.scrollY > 0) {
				header.classList.add("bg-[rgba(0,0,0,0.2)]");
			} else {
				header.classList.remove("bg-[rgba(0,0,0,0.2)]");
			}
		});
	});
</script>
