---
import { ChangeTheme } from "../components/ChangeTheme.jsx";
---

<header
	class="bg-transparent h-screen flex items-center justify-center pr-7 relative w-full top-0"
>
	<nav class="absolute top-5 flex justify-between w-full px-7 items-center">
		<h1 class="text-md md:text-2xl">Unión Escuelas de Taekwon-Do</h1>
		<ChangeTheme client:load />
	</nav>
	<div
		class="flex items-center gap-4 bg-[rgba(0,0,0,0.2)] rounded-lg p-4 md:flex-row flex-col"
	>
		<img src="/favicon.png" class="h-80 w-auto" />
		<p class="">
			Estamos en proceso de creación. <br />
			En breve nos estaremos uniendo.
		</p>
	</div>
</header>
